#logo img {
  max-width: 200px;
}

.navbar {
  margin-bottom: 30px;
  .nav-item .nav-link.active {
    font-weight: 500;
    color: var(--bs-primary);
  }
  
  .navbar-nav {
    justify-content: space-between;
  }
}

.menu-column {
  width: 100%;
}

@include media-breakpoint-down(lg) {
  #logo img {
    max-width: 100px;
  }
  .navbar {
    //flex-direction: column;
    margin-right: 0;
    align-items: baseline;

    .navbar-toggler {
      text-align: right;
    }

    .menu-column {
      width: auto;
      flex-grow: 2;
      text-align: right;
    }
  }
}
