.post-header{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 170px 0 0 ;
  background-color: #bbb;
  h1{
    padding:20px;
  }
  
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;
  
  .date{
    padding-bottom: 100px;
  }
}

.single-page{
  h2{
    margin-top:50px;
  }
}

.post-card{
  width: 100%;
  
}