{{ define "main" }}

{{ if eq .Params.noPhoto true }}
<div class="container mb-5">
  <h1>{{ .Title}}</h1>
  <div class="date">
    <i aria-hidden="true" class="kmi kmi-calendar-outline"></i>
    {{.Date.Format "02.01.2006"}}
  </div>
</div>
{{ else }}
<div class="post-header" style="background-image: url({{ .Params.bg }});">
  <h1>{{ .Title}}</h1>
  <div class="date">
    <i aria-hidden="true" class="kmi kmi-calendar-outline"></i>
    {{.Date.Format "02.01.2006"}}
  </div>
  <div style="height: 150px; overflow: hidden">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M0.00,49.98 C201.75,224.50 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff"
      ></path>
    </svg>
  </div>
</div>
{{ end }}

<div class="container single-page">
  <div class="row">
    <div class="col-12 col-lg-8">
      {{ .Content }}
    </div>
    <div class="col-12 col-lg-4">
      {{ $currentPage := . }}
      {{ $newest := where .Site.Pages "Type" "aktualnosci" }}
      {{ $newest = where $newest "IsPage" true}}
      {{ $newest = where $newest "Permalink" "!=" $currentPage.Permalink}}
      
      {{ range (first 2 $newest) }}
        {{partial "post-card.html" .}}
      {{ end }}      
    </div>
  </div>
</div>
{{ end }}
