<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <p>
          Jacht Klub Morski “Joseph Conrad”<br />
          ul. Warzelnicza 3<br />
          78-100 Kołobrzeg<br />
          NIP: 671-15-87-793
        </p>
        <p>
          Numer konta: 27 1940 1076 3200 8533 0000 0000<br />
          Credit Agricole Bank Polska SA
        </p>
      </div>
      <div class="col-12 col-md-6 text-center">
        Zostań naszym śledziem

        <div class="icons">
          <a
            class="fb-icon"
            href="https://www.facebook.com/Jacht-Klub-Morski-Joseph-Conrad-298202270247428/"
            target="_blank"
          >
            <i class="icon kmi-facebook-outline"></i>
          </a>

          <a
            class="insta-icon"
            href="https://www.instagram.com/klubmorski/"
            target="_blank"
          >
            <i class="icon kmi-instagram"></i>
          </a>

          <a
            class="yt-icon"
            href="https://www.youtube.com/channel/UCMHxMBv9YLx7bvAsawcvU4w"
            target="_blank"
          >
            <i class="kmi kmi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  ©1956-{{ now.Year }} Jacht Klub Morski “Joseph Conrad” w Kołobrzegu
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>

<script src="/js/trlbox.js"></script>