<div class="header container">
  <div class="row">
    <div class="col-12 col-lg-2">
      <a href="/" title="Strona główna" id="logo">
        <img
          src="Logo-JKM-JC.jpg"
          alt="Logo Jacht Klub Morski Joseph Conrad w Kołobrzegu"
        />
      </a>
    </div>
    <div class="col-12 col-lg-10">
      <button class="btn btn-lg btn-primary mb-3">Dołącz do nas</button>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/wladze/">Kim jesteśmy</a>
        </li>
        <li class="nav-item">
          <a href="/aktualnosci/">Aktualności</a>
        </li>
        <li class="nav-item">
          <a href="/historia-klubu/">Historia klubu</a>
        </li>
        <li class="nav-item">
          <a href="/patron-klubu/">Patron klubu</a>
        </li>
        <li class="nav-item">
          <a href="/galerie/">Galerie</a>
        </li>
        <li class="nav-item">
          <a href="/statut/">Statut</a>
        </li>
        <li class="nav-item">
          <a href="/kontakt/">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</div>
