{{ partial "libsass" "scss/gallery.scss" }}

{{ $dir := string (.Get "gallery_dir") }}
{{ $download := .Get "enable_download" }}


<div class="image-gallery">
  {{ range (readDir (print "/static/images/galerie/" $dir)) }}
    {{- $image := (printf "/images/galerie/%s/%s" $dir .Name) -}}
    {{- $isThumb := (findRE "^.*-thumb.webp$" .Name) -}}
    {{ if $isThumb }} 
      {{- $largeImage := (replaceRE "-thumb.webp$" ".webp" $image) -}}
      {{- $downloadImage := (printf "https://klubmorski.blob.core.windows.net/hires/%s-%s.jpg" $dir .Name) -}}
      {{- $downloadImage = (replaceRE "-thumb.webp" "" $downloadImage) -}}
      {{- $imageConfig := (imageConfig (printf "static/%s" $largeImage)) -}}
      {{- $imageConfig2 := (imageConfig (printf "static/%s" $image)) -}}
      {{- $width := $imageConfig.Width -}}
      {{- $height := $imageConfig.Height -}}
      {{- $widthSmall := $imageConfig2.Width -}}
      {{- $heightSmall := $imageConfig2.Height -}}
      <a href="{{ $largeImage }}" 
        data-pswp-download="{{ $downloadImage }}" 
        data-pswp-width="{{ $width }}" 
        data-pswp-height="{{ $height }}">
        <img src="{{ $image  }}" width="{{ $widthSmall}}" height="{{ $heightSmall }}">
      </a>
    {{ end }}
  {{ end }}
</div>


<script type="module">
  import PhotoSwipeLightbox from '/js/photoswipe-lightbox.esm.min.js';
  const lightbox = new PhotoSwipeLightbox({
    gallery: '.image-gallery',
    children: 'a',
    closeTitle: 'Zamknij',
    zoomTitle: 'Przybliż/oddal zdjęcie',
    arrowPrevTitle: 'Przejdź do poprzedniego zdjęcia',
    arrowNextTitle: 'Przejdź do następnego zdjęcia',
    pswpModule: () => import('/js/photoswipe.esm.min.js')
  });

  {{ if eq $download "true" }}

  lightbox.on('uiRegister', function() {
    lightbox.pswp.ui.registerElement({
      name: 'download-button',
      order: 8,
      isButton: true,
      tagName: 'a',

      // SVG with outline
      html: {
        isCustomSVG: true,
        inner: '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
        outlineID: 'pswp__icn-download'
      },

      onInit: (el, pswp) => {
        el.setAttribute('download', '');
        el.setAttribute('target', '_blank');
        el.setAttribute('rel', 'noopener');
        el.setAttribute('title', 'Pobierz zdjęcie w wysokiej jakości, gotowe do druku');

        pswp.on('change', () => {
          el.href = pswp.currSlide.data.element.getAttribute('data-pswp-download');
        });
      }
    });
  });

  {{ end }}
  

  lightbox.init();
  </script>

<script src="/js/magic-grid.min.js"></script>
<!-- <script src="./js/modify-items.js"></script> -->
<script>
    const magicGrid = new MagicGrid({
      container: '.image-gallery',
      animate: true,
      gutter: 30,
      static: true,
      useMin: true
    });

    magicGrid.listen();
</script>