<div class="row">
  <div class="col-6 col-md">
    <img class="img-fluid w-100" src="/images/management/wkalamon.jpg" alt="Wojciech Kalamon">
    <div class="text-center fs-5">Wojciech Kalamon</div>
    <div class="text-center fs-7 text-secondary">Komandor</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid w-100" src="/images/management/bcherek.jpg" alt="Bogdan Cherek">
    <div class="text-center fs-5">Bogdan Cherek</div>
    <div class="text-center fs-7 text-secondary">V-ce Komandor</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid" src="/images/management/gwaszkiewicz.jpg" alt="Grzegorz Waszkiewicz">
    <div class="text-center fs-5">Grzegorz Waszkiewicz</div>
    <div class="text-center fs-7 text-secondary">V-ce Komandor</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid" src="/images/management/akramarczyk.jpg" alt="Agnieszka Kramarczyk">
    <div class="text-center fs-5">Agnieszka Kramarczyk</div>
    <div class="text-center fs-7 text-secondary">Sekretarz</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid" src="/images/management/zmikolajczyk.jpg" alt="Zbigniew Mikołajczyk">
    <div class="text-center fs-5">Zbigniew Mikołajczyk</div>
    <div class="text-center fs-7 text-secondary">Skarbnik</div>
  </div>
</div>