<div class="row">
  <div class="col-6 col-md">
    <img class="img-fluid w-100" src="/images/management/wkalamon.webp" alt="Wojciech Kalamon">
    <div class="text-center fs-5">Wojciech Kalamon</div>
    <div class="text-center fs-7 text-secondary">Komandor</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid w-100" src="/images/management/bcherek.webp" alt="Bogdan Cherek">
    <div class="text-center fs-5">Bogdan Cherek</div>
    <div class="text-center fs-7 text-secondary">V-ce Komandor</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid" src="/images/management/mjerominek.webp" alt="Marian Jerominek ">
    <div class="text-center fs-5">Marian Jerominek </div>
    <div class="text-center fs-7 text-secondary">V-ce Komandor</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid" src="/images/management/dblazewicz.webp" alt="Dorota Błażewicz">
    <div class="text-center fs-5">Dorota Błażewicz</div>
    <div class="text-center fs-7 text-secondary">Sekretarz</div>
  </div>
  <div class="col-6 col-md">
    <img class="img-fluid" src="/images/management/wnowaczyk.webp" alt="Wioleta Nowaczyk">
    <div class="text-center fs-5">Wioleta Nowaczyk</div>
    <div class="text-center fs-7 text-secondary">Skarbnik</div>
  </div>
</div>